apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-fastapi
  labels:
    app: gitops-fastapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gitops-fastapi
  template:
    metadata:
      labels:
        app: gitops-fastapi
    spec:
      containers:
        - name: app
          image: REPLACE_ME_IMAGE
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
